
    <style>
        .note-block {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            color: black;
            font-size: 24px;
            text-align: left;
        }
    </style>
    <div class="note-block"> 
        In order to receive a helicity prediction for your peptide, you must enter the sequence, temperature, and pH.<br>
        There are other optional inputs such as n-block, c-block, urea concentration, and tmao concentration.<br>
        If you do not have a value for one of these inputs, use the default value of 0 (Neutral if N-Block or C-Block).
    </div>
