
    <style>
        .contact-header {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
            text-align: left;
        }
        .contact-label {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
        }
        .contact-input {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
        }
    </style>
    <div class="contact-header">
        <h1>Contact Information</h1>
        <div>
            While contact information is optional, we strongly encourage you to fill out this section. 
            Not only can we use these details to contact you with new developments of the model,
            but we can also reach out to  you if you are running into issues with the model.
        </div>
    </div>
