
    <style>
        .file-label {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
            text-align: left;
        }
        .file-input {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
        }
    </style>
    <div class="file-label">
        <h1>Submit Multiple Peptides</h1>
        <div>
            Upload a CSV file to submit multiple peptides at once.
        </div>
    </div>
