
<style>
    .image {
        float: left;
        width: 250px;
    }
    .vertical-line {
        border-left: 2px solid white; 
        height: 70%; 
        margin-left: 25px
    }
    .header-pos {
        text-align: left; 
        margin-left: 30px;
    }
     .nav-bar {
        text-align: right;
    }
    .nav-bar button { 
        background-color: #012169;
        color: #FFD960; 
        border: none; 
        border-radius: 10px; 
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        margin: 0 5px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
    }
    .nav-bar button:hover {
        color: #0577B1;
        background-color: #012169;
    }
</style>
<div style="background-color: #012169; padding: 20px;">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Open+Sans:400,400i,700" rel="stylesheet">
    <img src="images/duke_university_white.png" alt="Duke logo" class="image">
    <div style="display: flex; height: 180px;">
        <div class="vertical-line">
        </div>
    <div class="header-pos">
        <h1 style="color: white; font-size: 52px; font-family: 'Georgia', sans-serif;">Polypeptide Helicity and Ensemble Prediction Tool</h1>
    <div class="nav-bar">
            <button onclick="location.href='./start_page.ipynb';">HOME</button>
            <button onclick="location.href='./about_page.ipynb';">ABOUT</button>
            <button onclick="location.href='./FAQ_Page.ipynb';">FAQ</button>
        </div>
    </div>
    </div>
</div>
