
    <style>
        .note-block {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            color: black;
            font-size: 24px;
            text-align: left;
        }
    </style>
    <div class="note-block">
        In order to receive a helicity prediction for your peptide, you must enter the sequence, temperature, and pH.<br>
        There are other experimental conditions such as N-Block, C-Block, Urea Concentration, and TMAO Concentration.<br>
        If you do not have a value for one of these experimental conditions, use the <a href="./FAQ_Page.ipynb" target="_blank">default values</a>.
    </div>
