
    <style>
        .peptide-label {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
            text-align: left;
        }
        .peptide-input {
            max-width: 500px;
            margin: 10px;
            color: black;
            font-size: 16px;
        }
        .submit-button {
        background-color: #012169;
        color: white;
        font-size: 20px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        }
    </style>
    <div class="peptide-label">
        <h1>Submit One Peptide</h1>
    </div>
